{{! USER CONFIGURATION OF THIS PAGE IS NOT REQUIRED }}
{{!< default}}

<div class="row">
	<div class="col-sm-3">
		<div class="notification">
			<img class="img-responsive img-circle img-author" src="{{author.image}}">
			<h3>{{author.name}}</h3>
			<p>{{author.description}}</p>
			<p><a href="{{@blog.url}}">Back to blog</a></p>
			
		</div>
	</div>
	<div class="col-sm-9">
		<h2 class="page-header">Posts by {{author.name}}</h2>
		{{> loop-tag}}
		<hr>
		{{pagination}}
	</div>

</div>

{{!> pagination-tag}}
