{{! USER CONFIGURATION OF THIS PAGE IS NOT REQUIRED }}
{{!< default}}

{{#post}}
<div class="row">
	<div class="col-sm-10 col-sm-push-1">
		<article class="blog-post">
			<h5 class="date">
				{{#foreach tags}}
					<a href="{{url}}" class="label label-default">{{name}}</a>
				{{/foreach}}
				<span class="pull-right">
					Posted on <i class="fa fa-clock-o"></i> <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='MMMM Do, YYYY'}}</time>.
				</span>
			</h5>
			<h1 class="page-header">{{title}}</h1>
			<div class="section content">
				{{content}}
			</div>
			<hr>
			<div class="comments">
				<a onclick="loadComments()" class="btn btn-primary" id="loadcomments"><i class="fa fa-comments"></i> View Comments...</a>
				<div id="disqus_thread"></div>
				<div id="g-comments"></div>
			</div>
		</article>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-push-3 post-footer">
		{{> sidebar}}
	</div>
</div>


{{/post}}
