{{! USER CONFIGURATION OF THIS PAGE IS NOT REQUIRED }}
{{!< default}}

<div class="row">
	<div class="col-sm-3">
		<div class="notification">
			<img class="img-responsive" src="{{tag.image}}">
			<h3>{{tag.name}}</h3>
			<p>{{tag.description}}</p>
			<p><a href="{{@blog.url}}">Back to blog</a></p>
			
		</div>
	</div>
	<div class="col-sm-9">
		{{> loop-tag}}
		<hr>
		{{pagination}}
	</div>

</div>

{{!> pagination-tag}}
